@model Vidly2.Models.Customer
@* Because i'm returning one record i'll use just customer model not a list *@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Our model is customer so model name is we want !!!*@ 
<h2>@Model.Name</h2>






