@model IEnumerable<Vidly2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    @if (!Model.Any()) // Any functions returns true if there is some record.
    {   
        <text>There is no customer yet!</text>

    }
    else
    {
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount Types</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)</td>
                    <td>@customer.MembershipType.Name</td>   @* % is a plain text*@  
                    @* Entity framework only loadsonly customer object not their related objects.
                       We need to customers and membership types together, this is what we call eager loading *@
                </tr>
            }
        
            </tbody>
        </table>


    }
    

</ul>

